body{
  font-family: 'Playfair Display SC', serif;
  background-color: whitesmoke;
}

.topnav{
  background: #4c4c4c; 
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 0%, #474747 1%, #474747 4%, #666666 4%, #474747 4%, #474747 4%, #1c1c1c 23%, #000000 39%, #111111 60%, #2b2b2b 76%, #2c2c2c 87%, #2c2c2c 87%, #131313 100%); 
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 0%,#474747 1%,#474747 4%,#666666 4%,#474747 4%,#474747 4%,#1c1c1c 23%,#000000 39%,#111111 60%,#2b2b2b 76%,#2c2c2c 87%,#2c2c2c 87%,#131313 100%); 
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 0%,#474747 1%,#474747 4%,#666666 4%,#474747 4%,#474747 4%,#1c1c1c 23%,#000000 39%,#111111 60%,#2b2b2b 76%,#2c2c2c 87%,#2c2c2c 87%,#131313 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); 
height:165px ;
width: 1430px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
border-radius: 90px;
/* margin-top: 5px; */

position: fixed;
top: 0;
z-index: 100;
opacity: 1;

}

.logoDiv{
  /* background-color: tomato; */
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 14px;
  margin-bottom: -14px;
}

.toptitle{
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  color:white;
  margin-top: -6px;
  margin-bottom: 10px;
  margin-left: 100px;
  font-family: 'Amiri', serif;
  
}

.logo{
  width:80px;
  border-radius: 50%;
  margin: 20px;
  position: relative;
  left: -390px;
  top: -35px;
}

.topcategory{
  /* background-color: rgb(39, 43, 100); */
  width: 1420px ;
  height: 60px;
  display: flex;
  justify-content: space-around;
  margin-top: -18px;
  

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  font-size: 30px;
  height: 40px;
}

li {
  float: left;
  
}

li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

li a:hover {
  /* background-color: rgba(158, 202, 223, 0.685); */
  text-shadow: 0px 0px 18px #e9d2cf

}

.list-item{
  width: 300px;
  /* background-color:rgb(161, 192, 161); */
  
}

.bodyContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding:40px;
  position: relative;
}

.card-conteiner{
  display: flex;
  justify-content: center;
}

.subtitle{
  position: relative;
  left:120px;
  top: 62px;
  color: rgba(26, 26, 26, 0.979);
  font-size: 35px;
  margin-top:150px ;
  margin-bottom: 60px;
}

.carddiv{
  /* background-color: lightcoral; */
  width:1300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  padding:30px;
  position: relative;
  
}

/* NEW */

.contact{
  /* background-color: violet; */
  width: 400px;
  display: flex;
  border: solid black ;
  border-width: 6px;
  border-radius: 60px;
  justify-content: center;
  text-align:left;
  text-decoration: none;
}

.whatsAppImages{
  width: 90px;
  margin-top: 20px;
}

.instagram{
  width: 60px;
  margin-top: 40px;
}

.locationImage{
  width: 60px;
  margin-top: 30px;
  margin-left: 20px;
}

.locationText{
  /* background-color: tomato; */
  margin-left: 90px;
  margin-top: -120px;
  font-size: 20px;
  color: #000;
}

.instaText{
  /* background-color: tomato; */
  margin-left: 80px;
  margin-top: -88px;
  font-size: 20px;
  color: #000;
}

.whatsAppText{
  /* background-color: tomato; */
  margin-left: 95px;
  margin-top: -100px;
  font-size: 20px;
  color: #000;

}


iframe{
  height:800px ;
  width:1400px;
  display: flex;
  justify-content: center;
}