body{
    font-family: 'Playfair Display SC', serif;
    background-color:whitesmoke;
    
}

.topnav{
background: #4c4c4c; 
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 0%, #474747 1%, #474747 4%, #666666 4%, #474747 4%, #474747 4%, #1c1c1c 23%, #000000 39%, #111111 60%, #2b2b2b 76%, #2c2c2c 87%, #2c2c2c 87%, #131313 100%); 
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 0%,#474747 1%,#474747 4%,#666666 4%,#474747 4%,#474747 4%,#1c1c1c 23%,#000000 39%,#111111 60%,#2b2b2b 76%,#2c2c2c 87%,#2c2c2c 87%,#131313 100%); 
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 0%,#474747 1%,#474747 4%,#666666 4%,#474747 4%,#474747 4%,#1c1c1c 23%,#000000 39%,#111111 60%,#2b2b2b 76%,#2c2c2c 87%,#2c2c2c 87%,#131313 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); 

  height:165px ;
  width: 1430px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 90px;
  /* margin-top: 5px; */
  
  position: fixed;
  top: 0;
  z-index: 100;
  opacity: 1;
  
  }
  
  .logoDiv{
    /* background-color: tomato; */
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 14px;
    margin-bottom: -14px;
  }
  
  .toptitle{
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    color:white;
    margin-top: -6px;
    margin-bottom: 10px;
    margin-left: 100px;
    font-family: 'Amiri', serif;
    
  }
  
  .logo{
    width:80px;
    border-radius: 50%;
    margin: 20px;
    position: relative;
    left: -390px;
    top: -35px;
  }
  
  .topcategory{
    /* background-color: rgb(39, 43, 100); */
    width: 1420px ;
    height: 60px;
    display: flex;
    justify-content: space-around;
    margin-top: -18px;
    
  
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    font-size: 30px;
    height: 40px;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
  }
  
  li a:hover {
    /* background-color: rgba(158, 202, 223, 0.685); */
    text-shadow: 0px 0px 18px #e9d2cf

  }

  .list-item{
    width: 300px;
    /* background-color:rgb(161, 192, 161); */
    
  }

.bodyContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 100px;
    padding:40px;
    position: relative;
}



.title1{
    /* background-color: cyan; */
    font-size: 40px ;
    font-weight:600;
    text-align: center;
    margin-top:60px ;
    margin-bottom: 0px;
    width: 600px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 8px;
    width: 800px;
}
.intro{
  /* background-color: thistle; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius:30px ;
    padding:0px;
}

.paraDiv{
    /* background-color: rgb(111, 111, 131); */
    width: 1350px;
    display: flex;
    flex-wrap: wrap;
    margin-top:60px ;
    align-items: center;
    text-align:justify;
    margin-top: -10px;
    
}

.paragrah{
    font-size:26px; 
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 24px;
    font-family:'Times New Roman', Times, serif;
}

.paraImage{
  
  width:80px;
    border-radius: 50%;
    margin: 20px;
    position: relative;
    margin-top: -370px;
    margin-left: 1000px;
}

.button {
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  border-radius: 20px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 6px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 14px;
  margin-top: -80px;
  margin-left: -230px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: white;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
a{
  color: white;
}


/* ---------slide show ---------- */

* {box-sizing: border-box;}

.mySlides {display: none;}
.mySlides2 {display: none;}
.mySlides3 {display: none;}

.slideImage {vertical-align: middle;}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 200px;
  position: relative;
  margin: auto;
  margin-top: 60px;
}

.slideshow3-container {
  max-width: 1000px;
  height: 100px;
  position: relative;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 200px;
}

/* Caption text */
.text {
  background-color: rgba(0, 0, 0, 0.514);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot2 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot3 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* ---------slide show end---------- */
